vagrantfile:
    vm:
        provider:
            local:
                machines:
                    vflm_olp0m5ysywcp:
                        id: website-front1
                        hostname: website.puppet
                        network:
                            private_network: 192.168.X.X
                            forwarded_port:
                                vflmnfp_zi0z5phrrq1i:
                                    host: 'XXXX'
                        memory: '1024'
                        cpus: '2'
        synced_folder:
            vflsf_eaxlft0h0gn6:
                source: ../website
                target: /var/www/website
                sync_type: nfs
                rsync:
                    exclude:
                        - .idea/
server:
    packages:
        - htop
        - vim
        - zip
        - unzip
locale:
    settings:
        timezone: Europe/Paris
nginx:
    upstreams:
        nxv_ci3s83oyzwpe:
            name: phpfcgi
            upstream_fail_timeout: 10s
            members:
                - '127.0.0.1:9000'
    vhosts:
        website:
            server_name: website.local
            server_aliases:
                - www.website.local
            www_root: /var/www/website
            locations:
                general:
                    www_root: /var/www/website/web
                    fastcgi: phpfcgi
                symfony_dev:
                    www_root: /var/www/website/web
                    fastcgi: phpfcgi
                symfony_prod:
                    www_root: /var/www/website/web
                    fastcgi: phpfcgi
                index:
                    www_root: /var/www/website/web
                    fastcgi: phpfcgi
letsencrypt:
    install: '0'
php:
    modules:
        php:
            - cli
            - intl
            - fpm
            - common
            - readline
            - curl
            - imap
            - gd
            - mbstring
            - memcached
            - mysql
            - xml
    ini:
        date.timezone: Europe/Paris
        short_open_tag: 'off'
        magic_quotes_gpc: 'off'
        register_global: 'off'
        register_globals: 'off'
        session.auto_start: 'off'
xdebug:
    install: '1'
mariadb:
    settings:
        root_password: 'root'
    users:
        mariadbnu_42qk053ero9u:
            name: dev
            password: 'dev'
    databases:
        mariadbnd_mvf5lpc4ce39:
            name: website
    grants:
        mariadbng_nea0e0z4ghis:
            user: dev
            table: 'website.*'
mailhog:
    install: '1'
