vagrantfile:
    vm:
        provider:
            local:
#                chosen_virtualizer: virtualbox
#                chosen_virtualizer: vmware_fusion
                machines:
                    machine1:
                        id: website-front1
                        hostname: website.puppet
                        network:
                            private_network: 192.168.X.X
                            forwarded_port:
                                port1:
                                    host: 'XXXX'
                        memory: '2048'
                        cpus: '2'
        synced_folder:
            folder1:
                owner: www-user
                group: www-data
                source: ../website
                target: /var/www/website
                sync_type: nfs
                rsync:
                    exclude:
                        - .idea/
server:
    packages:
        - bash-completion
        - htop
        - vim
        - zip
        - unzip
locale:
    settings:
        timezone: Europe/Paris
nginx:
    upstreams:
        phpfastcgi:
            name: phpfastcgi
            upstream_fail_timeout: 10s
            members:
                - '127.0.0.1:9000'
    vhosts:
        vhost1:
            server_name: website.local
            server_aliases:
                - www.website.local
            www_root: /var/www/website
            locations:
#                php_html:
#                    www_root: /var/www/website
#                    location: /
#                    autoindex: 'off'
#                    internal: 'false'
#                    index_files:
#                        - index.html
#                        - index.php
#                    try_files:
#                        - $uri
#                        - $uri/
#                        - /index.php$is_args$args
#                php_php:
#                    www_root: /var/www/website
#                    location: '~ \.php$'
#                    autoindex: 'off'
#                    internal: 'false'
#                    index_files:
#                        - index.php
#                    try_files:
#                        - $uri
#                        - $uri/
#                    set:
#                        - '$path_info $fastcgi_path_info'
#                    fastcgi: phpfastcgi
#                    fastcgi_index: index.php
#                    fastcgi_split_path: '^(.+?\.php)(/.*)$'
#                    fast_cgi_params_extra:
#                        - 'SCRIPT_FILENAME $document_root$fastcgi_script_name'
#                sf2_3_base:
#                    www_root: /var/www/website/web
#                    location: /
#                    autoindex: 'off'
#                    internal: 'false'
#                    index_files:
#                        - app.php
#                        - $uri
#                        - $uri/
#                        - /app.php$is_args$args
#                    try_files:
#                sf2_3_dev:
#                    www_root: /var/www/website/web
#                    location: '~ ^/(app_dev|config)\.php(/|$)'
#                    autoindex: 'off'
#                    internal: 'false'
#                    try_files:
#                        - $uri
#                        - $uri/
#                        - /app_dev.php$is_args$args
#                    set:
#                        - '$path_info $fastcgi_path_info'
#                    fastcgi: phpfastcgi
#                    fastcgi_index: app_dev.php
#                    fastcgi_split_path: '^(.+\.php)(/.*)$'
#                    fast_cgi_params_extra:
#                        - 'SCRIPT_FILENAME $document_root$fastcgi_script_name'
#                        - 'DOCUMENT_ROOT $realpath_root'
#                        - 'APP_ENV dev'
#                sf2_3_prod:
#                    www_root: /var/www/website/web
#                    location: '~ ^/app\.php(/|$)'
#                    autoindex: 'off'
#                    internal: 'false'
#                    try_files:
#                        - $uri
#                        - $uri/
#                        - /app.php$is_args$args
#                    set:
#                        - '$path_info $fastcgi_path_info'
#                    fastcgi: phpfastcgi
#                    fastcgi_index: app.php
#                    fastcgi_split_path: '^(.+\.php)(/.*)$'
#                    fast_cgi_params_extra:
#                        - 'SCRIPT_FILENAME $document_root$fastcgi_script_name'
#                        - 'DOCUMENT_ROOT $realpath_root'
#                        - 'APP_ENV prod'
#                sf4_base:
#                    www_root: /var/www/website/public
#                    location: /
#                    autoindex: 'off'
#                    internal: 'false'
#                    index_files:
#                        - index.php
#                    try_files:
#                        - $uri
#                        - $uri/
#                        - /index.php$is_args$args
#                sf4_index:
#                    www_root: /var/www/website/public
#                    location: '~ ^/index\.php(/|$)'
#                    autoindex: 'off'
#                    internal: 'false'
#                    try_files:
#                        - $uri
#                        - $uri/
#                        - /index.php$is_args$args
#                    set:
#                        - '$path_info $fastcgi_path_info'
#                    fastcgi: phpfastcgi
#                    fastcgi_index: index.php
#                    fastcgi_split_path: '^(.+\.php)(/.*)$'
#                    fast_cgi_params_extra:
#                        - 'SCRIPT_FILENAME $document_root$fastcgi_script_name'
#                        - 'DOCUMENT_ROOT $realpath_root'
#                        - 'APP_ENV dev'
#                wp_favicon:
#                    www_root: ''
#                    location: /favicon.ico
#                    autoindex: 'off'
#                    internal: 'false'
#                    location_cfg_append:
#                        - 'log_not_found off'
#                        - 'access_log off'
#                wp_robots:
#                    www_root: ''
#                    location: /robots.txt
#                    autoindex: 'off'
#                    internal: 'false'
#                    location_cfg_append:
#                        - 'allow all'
#                        - 'log_not_found off'
#                        - 'access_log off'
#                wp_base:
#                    www_root: /var/www/website
#                    location: /
#                    autoindex: 'off'
#                    internal: 'false'
#                    index_files:
#                        - index.php
#                    try_files:
#                        - $uri
#                        - $uri/
#                        - /index.php$is_args$args
#                wp_php:
#                    www_root: /var/www/website
#                    location: '~ \.php$'
#                    autoindex: 'off'
#                    internal: 'false'
#                    try_files:
#                        - $uri
#                        - $uri/
#                        - /index.php$is_args$args
#                    set:
#                        - '$path_info $fastcgi_path_info'
#                    fastcgi: phpfastcgi
#                    fastcgi_index: index.php
#                    fastcgi_split_path: '^(.+\.php)(/.*)$'
#                    fast_cgi_params_extra:
#                        - 'SCRIPT_FILENAME $document_root$fastcgi_script_name'
#                        - 'DOCUMENT_ROOT $realpath_root'
#                wp_media:
#                    www_root: ''
#                    location: '~* \.(js|css|png|jpg|jpeg|gif|ico)$'
#                    autoindex: 'off'
#                    internal: 'false'
#                    location_cfg_append:
#                        - 'expires max'
#                        - 'log_not_found off'
letsencrypt:
    install: '0'
php:
    modules:
        php:
            - cli
            - intl
            - fpm
            - common
            - readline
            - curl
            - imap
            - gd
            - mbstring
            - memcached
            - mysql
            - xml
    ini:
        date.timezone: Europe/Paris
        short_open_tag: 'off'
        magic_quotes_gpc: 'off'
        register_global: 'off'
        register_globals: 'off'
        session.auto_start: 'off'
        memory_limit: 512M
xdebug:
    install: '1'
mariadb:
    settings:
        root_password: '123'
    users:
        user1:
            name: dbuser
            password: '123'
    databases:
        database1:
            name: dbname
            sql: ''
    grants:
        grant1:
            user: dbuser
            table: 'dbname.*'
            privileges:
                - ALL
mailhog:
    install: '1'
